<form [formGroup]="loginForm">
    <mat-form-field class="">
        <mat-label>Login</mat-label>
        <input 
            matInput 
            type="text" 
            placeholder="Your login" 
            formControlName="login"
        >
    </mat-form-field>

    <mat-form-field class="">
        <mat-label>Password</mat-label>
        <input 
            matInput 
            type="password" 
            placeholder="Your login" 
            formControlName="password"
        >
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="doLogin()">Go</button>
</form>

<!-- TODO : place routerLink to registering user if not -->
