<h1>{{ title | uppercase }}</h1>

<div *ngFor="let movie of movies">
    <div class="movie" *ngIf="(movie.country == defaultCountry) || defaultCountry == 'all'">
        <h2 class="title"
            [ngClass]="{'old': movie.year < 2000}"
        >
            {{ movie.title }}
        </h2>
        <h3>{{ movie.year }}</h3>
    </div>
</div>

<ul id="filter">
    <li (click)="defaultCountry='all'" [ngClass]="{'active': defaultCountry=='all'}">
        [all]
    </li>
    <li (click)="defaultCountry='us'" [ngClass]="{'active': defaultCountry=='us'}">
        [us]
    </li>
    <li (click)="defaultCountry='it'" [ngClass]="{'active': defaultCountry=='it'}">
        [it]
    </li>
</ul>