<h1>{{ title | uppercase }}</h1>

<div id="filter">
    <mat-form-field>
        <mat-label>By years</mat-label>
        <mat-select [(ngModel)]="year">
            <mat-option [value]="'all'">All...</mat-option>
            <mat-option *ngFor="let year of years" [value]="year">
                {{ year }}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>

<div *ngFor="let movie of movies">
    <mat-card class="movie">
        <mat-card-title class="title"
            [ngClass]="{'old': movie.year < 2000}"
        >
            {{ movie.title }}
        </mat-card-title>

        <mat-card-content>
        </mat-card-content>

        <mat-card-footer>
            {{ movie.year }}
        </mat-card-footer>
    </mat-card>
</div>


