<h1>{{ title | uppercase }}</h1>

<mat-toolbar color="primary">
      <mat-toolbar-row>
        <div id="filter">
            <mat-form-field>
                <mat-label>By years</mat-label>
                <mat-select [(ngModel)]="year">
                    <mat-option [value]="0">All...</mat-option>
                    <mat-option *ngFor="let year of years" [value]="year">
                        {{ year }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        
    <span class="example-spacer"></span>

    <app-search (movies)="receiveMovies($event)"></app-search>
  </mat-toolbar-row>
</mat-toolbar>




<div *ngFor="let movie of movies | async">
    <mat-card class="movie" *ngIf="movie.year == year || year == 0">
        <mat-card-title class="title"
            [ngClass]="{'old': movie.year < 2000}"
        >
                {{ movie.title }}
 

            <mat-icon 
                (click)="likeIt(movie)" 
                *ngIf="movie.like == 0"
            >
                favorite_border
            </mat-icon>

            <mat-icon 
                *ngIf="movie.like > 0" 
                matBadge="{{ movie.like }}" 
                matBadgeColor="warn"
            >
                favorite
            </mat-icon>
        </mat-card-title>

        <mat-card-content>
        </mat-card-content>

        <mat-card-footer>
            {{ movie.year }}
            <mat-icon
                (click)="moveTo(movie.idMovie)"
            >more</mat-icon>
        </mat-card-footer>
    </mat-card>
</div>


